<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UsgbcTest">
    
  <test name="USGBC">
    <parameter name="browserName"  value="firefox"/>
    <parameter name="environment"  value="staging"/>
    <parameter name="rowNum" value="2"/>
    <parameter name="CommunityRegistrationSheet" value="CommunityRegistration"/>
    <parameter name="SignInSheet" value="SignIn"/>
    <parameter name="PaymentSheet" value="Payment"/>
    <parameter name="DonationSheet" value="Donation"/>
    <parameter name="SponsorshipSheet" value="Sponsorship"></parameter>
    <parameter name="ExamRegistrationSheet" value="ExamRegistration"/>
    <parameter name="ProductSheet" value="Product"/>
    <parameter name="StoreSheet" value="Store"/>
    <parameter name="fieldSheet" value="fieldVerification"></parameter>
    <parameter name="memberSheet" value="MembershipContact"></parameter>
    <parameter name="registerSheet" value="Registration"></parameter>
    

    <classes>  

      

        
         
         
         
   <!--
   <class name="com.dynamicUsgbc.testcases.StoreContactPageErrorVerifyTest"/>
   <class name="com.dynamicUsgbc.testcases.SponsorshipPaymentPageErrorVerifyTest"/>
   <class name="com.dynamicUsgbc.testcases.SponsorshipRegistrationErrorVerifyTest"/>
   <class name="com.dynamicUsgbc.testcases.DonationPaymentPageErrorVerifyTest"/>
   <class name="com.dynamicUsgbc.testcases.MembershipRegistrationFlowByCheckTest"/>
   <class name="com.dynamicUsgbc.testcases.CommunityLoginPageErrorVerifyTest"/>
   <class name="com.dynamicUsgbc.testcases.MembershipPaymentPageErrorVerifyTest"/>
      <class name="com.dynamicUsgbc.testcases.MembershipRegistrationErrorVerifyTest"/>
      <class name="com.dynamicUsgbc.testcases.MembershipContactErrorVerifyTest"/>
      <class name="com.dynamicUsgbc.testcases.MembershipSignUpErrorVerifyTest"/> 
   	  <class name="com.dynamicUsgbc.testcases.MembershipRegistrationTest"/>    
   	  <class name="com.dynamicUsgbc.testcases.CommunityRegistrationFlowTest"/>   
      <class name="com.dynamicUsgbc.testcases.ProductAdminFlowTest"/> 
  

   
      <class name="com.dynamicUsgbc.testcases.ProductAdminFlowByCheckTest"/> 
   

   	  <class name="com.dynamicUsgbc.testcases.CommunityRegistrationFlowTest"/>
	  <class name="com.dynamicUsgbc.testcases.CommunityRegistrationFlowByCheckTest"/> 
	  <class name="com.dynamicUsgbc.testcases.CommunityRegLoggedInUserFlowTest"/>
	  <class name="com.dynamicUsgbc.testcases.CommunityRegPageErrorVerifyTest"/>
	  <class name="com.dynamicUsgbc.testcases.CommunityRegPaymentPageErrorVerifyTest"/>
	  <class name="com.dynamicUsgbc.testcases.DonationOnlineCfgsTest"/>
	  <class name="com.dynamicUsgbc.testcases.DonationOnlineHaitiTest"/>
	  <class name="com.dynamicUsgbc.testcases.DonationOnlineMyGreenAppleTest"/>
	  <class name="com.dynamicUsgbc.testcases.DonationOnlineUsgbcTest"/>
	  <class name="com.dynamicUsgbc.testcases.ExamRegistrationFlowTest"/>
	  <class name="com.dynamicUsgbc.testcases.SponsorshipFlowTest"/> 
	  <class name="com.dynamicUsgbc.testcases.StoreFlowTest"/>
	  <class name="com.dynamicUsgbc.testcases.SponsorshipFlowTest"/>

	  <class name="com.dynamicUsgbc.testcases.StoreFlowTest"/>  -->  


	  <class name="com.dynamicUsgbc.testcases.MembershipRegistrationTest"/>


	  

      

    </classes>
  </test> 
  
 
  
</suite>
