<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VisualTest">
    
  <test name="USGBC">
    <parameter name="browserName"  value="firefox"/>
    <parameter name="environment"  value="staging"/>
    <parameter name="rowNum" value="2"/>
    <parameter name="CommunityRegistrationSheet" value="CommunityRegistration"/>
    <parameter name="SignInSheet" value="SignIn"/>
     <parameter name="PaymentSheet" value="Payment"/>
    
    <classes>
      <class name="com.dynamicUsgbc.testcases.CommunityRegLoggedInUserFlowTest"/>
    
    </classes>
  </test> 
</suite>
